[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-wtf = "*"
flask-bcrypt = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
pillow = "*"
pymysql = "*"
flask-uploads = "*"
flask-s3 = "*"
flask-migrate = "*"
elasticsearch = "*"
slugify = "*"
pdfkit = "*"
email-validator = "*"
python-slugify = "*"
azure-storage-blob = "*"
azure-storage-file = "*"
azure-storage-queue = "*"

[dev-packages]

[requires]
python_version = "3.8"
