{% extends "includes/layout.html" %}
{% block content %}
<div class="container">
    <div class="row blog_details_inner" style="margin-left: 4%;">
        
        <div class="col-md-8"  style="margin-top: 2px;">
            <div class="modal_th">
                <form action="" method="POST">
                    <div class="loginwrap" style="margin-top: 7%;">
                        <div class="form-group">
                            {{ form.username.label }}

                            <!--If form had errors-->
                            {% if form.username.errors %}
                                {{ form.username(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.username.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--if there are no errors-->
                            {% else %}
                                {{ form.username(class="form-control", placeholder="Enter Username")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}

                            <!--If form had errors-->
                            {% if form.email.errors %}
                                {{ form.email(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.email.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--if there are no errors-->
                            {% else %}
                                {{ form.email(class="form-control", placeholder="Enter Email")}}
                            {% endif %}
                            
                        </div>
                        <div class="form-group">
                            {{ form.password.label}}

                            <!--If form had errors-->
                            {% if form.password.errors %}
                                {{ form.password(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.password.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--if there are no errors-->
                            {% else %}
                                {{ form.password(class="form-control", placeholder="Enter Password")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password.label}}

                            <!--If form had errors-->
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.confirm_password.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--if there are no errors-->
                            {% else %}
                                {{ form.confirm_password(class="form-control", placeholder="Re-enter Password" )}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="sub_btn") }} </br>
                        </div>     
                    </div> 
                    {{ form.csrf_token }} 
                </form>
            </div> 
        </div>
        {% include 'includes/sidebar.html' %} 
    </div>
</div>
{% endblock content %}
