{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row blog_details_inner" style="margin-left: 4%;">
        <div class="col-md-8"  style="margin-top: 2px;">
            <div class="modal_th" style="height: 570px;">
                <div class="media" style="margin-left: 20%; font-family: 'Montserrat', sans-serif;">
                    <img class="rounded-circle" style="border-radius: 50%; width: 150px; float: left; height: 150px;" src="{{ image_file }}">
                    <div style="margin-top: 5%; margin-left: 30%;">
                        <h2 class="account-heading">{{ current_user.username }}</h2>
                        <p class="text-secondary">{{ current_user.email }}</p>
                    </div>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="loginwrap" style="margin-top: 4%;">
                            <legend>Account Info</legend>
                        <div class="form-group">
                            {{ form.username.label }}

                            <!--If form had errors-->
                            {% if form.username.errors %}
                                {{ form.username(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.username.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--if there are no errors-->
                            {% else %}
                                {{ form.username(class="form-control", placeholder="Enter Username")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}

                            <!--If form had errors-->
                            {% if form.email.errors %}
                                {{ form.email(class="form-control", style="border-color: #a94442;") }}
                                <div class="form-group has-error">
                                    {% for error in form.email.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            <!--if there are no errors-->
                            {% else %}
                                {{ form.email(class="form-control", placeholder="Enter Email")}}
                            {% endif %}
                            
                        </div>
                        <div class="form-group">
                            {{ form.picture.label() }}
                            {{ form.picture}}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="sub_btn") }} </br>
                        </div>     
                    </div> 
                    {{ form.csrf_token }} 
                </form>
            </div> 
        </div>
        <div class="col-md-4" style="margin-top: 1%;">
            <div class="sidebar_area"> 
                <aside class="right_widget r_post_widget" >
                    <div class="r_w_title" >
                        <h3>Trending Post</h3>
                    </div>
                    <div class="r_post_inner">
                        <div class="r_post_item">
                            <img src="{{ url_for('static', filename='img/blog/trending-post/t-post-1.jpg') }}" alt="">
                            <a href="#"><p>But I must explain to you how all this mistaken idea</p></a>
                        </div>
                        <div class="r_post_item">
                            <img src="{{ url_for('static', filename='img/blog/trending-post/t-post-2.jpg') }}" alt="">
                            <a href="#"><p>But I must explain to you how all this mistaken idea</p></a>
                        </div>
                        <div class="r_post_item">
                            <img src="{{ url_for('static', filename='img/blog/trending-post/t-post-3.jpg') }}" alt="">
                            <a href="#"><p>But I must explain to you how all this mistaken idea</p></a>
                        </div>
                    </div>
                </aside>
                <aside class="right_widget r_social_widget">
                    <div class="r_w_title">
                        <h3>we are social</h3>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </aside>
                <aside class="right_widget r_twitter_widget">
                    <div class="r_w_title">
                        <h3>twitter feed</h3>
                    </div>
                    <div class="tweets_feed"></div>
                </aside>
            </div>
        </div> 
    </div>
</div>
{% endblock content %}
