{% extends "layout.html" %}
{% block content %}
<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 2%;">
        <h3 id="table_h3" style="margin-top: 3%;">CONSTRUCTION</h3>
        <table id="mytable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>NAME OF CONTRACT</th>
                    <th>LENGTH (KM)</th>
                    <th>LOT</th>
                    <th>CONTRACT SUM (GHS)</th>
                    <th>CONTRACTOR</th>
                    <th>DATE OF COMMENCE</th>
                    <th>DATE OF COMPLETION</th>
                </tr>
            </thead>
            <tbody>
                {% for construction in const_list %}
                    <tr>
                        <td>{{ construction.name_of_contract }}</td>
                        <td>{{ construction.length }}</td>
                        <td>{{ construction.lot }}</td>
                        <td>{{ construction.contract_sum }}</td>
                        <td>{{ construction.contractor }}</td>
                        <td>{{ construction.date_commenced }}</td>
                        <td>{{ construction.date_completed}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %} 