{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row blog_details_inner" id="leave">
        <form action="">
            {{ form.hidden_tag() }}  <!--Adds CSRF token to our form. Protects against forgery attacks-->
            <div class="col-md-6" id="content_1">
                    <h4 class="">Location</h4>
                    <label>
                        <fieldset>
                            <p>
                                I would like to 
                                {% for subfield in form.report %}
                                    {{ subfield }}
                                    {{ subfield.label }} &nbsp;
                                {% endfor %}
                                the following defects
                            </p>
                        </fieldset>
                    </label>
                    <div class="form-group">
                        {{ form.road_desc.label(class="fieldN") }}
                        {{ form.road_desc(size=50)}}
                    </div>
                    <div class="form-group">
                        {{ form.dist_desc.label(class="fieldN") }}
                        {{ form.dist_desc(size=50)}}
                    </div>
                    <div class="form-group">
                        {{ form.reg_desc.label(class="fieldN") }}
                        {{ form.reg_desc(size=50)}}
                    </div>
                    
                    <div class="form-group">
                        {{ form.direction.label(class="fieldN") }}
                        {{ form.direction(size=50)}}
                    </div></br>
                    <h4 class="">Defect</h4>
                    <fieldset>
                        <legend>Truck</legend>
                        <div class="obj">
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Uneven Surface</label>
                            </div>  
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Pothole</label>
                            </div>  
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Damaged Manhole</label>
                            </div>  
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Structures</legend>
                        <div class="obj">
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Damaged Surface</label>
                            </div>  
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Damaged Furniture</label>
                            </div>   
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Roadworks</legend>
                        <div class="obj">
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Unattended Site</label>
                            </div>  
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Traffic Obstruction</label>
                            </div>  
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Poor Traffic Arrangement</label>
                            </div>  
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Filthy site</label>
                            </div>  
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Lighting</legend>
                        <div class="obj">
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Poor or No Lighting Provision</label>
                            </div>  
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Unlit Street</label>
                            </div>  
                            <div class="items">
                                <input type="checkbox" name="dd" id="" value="Uneven Surface">
                                <label style="font-weight: inherit;" for="dd">Subway Lighting</label>
                            </div>   
                        </div>
                    </fieldset>
            </div>
            <div class="col-md-6" >
                <div class="sidebar_area" id="content_1"> 
                            <h4 class="">Details</h4>
                            <p style="margin-bottom: 10px;">
                                {{ form.details(class="txt_area", cols="30", rows="5") }}
                            </p>
                            <h4 class="">
                                <span style="visibility: hidden;">Personal Details</span>
                            </h4>
                            <h3>Notes about Personal Data</h3>
                            <p style="margin-left: 5px;">
                                The personal data provided by you below will be used by the Highways Department, 
                                relevant Government departments and bureaux for the purpose of facilitating 
                                communication between the Government and yourself for activities 
                                relating to the complaint or enquiry made by you. Should you refuse
                                to supply the required data, no reply with respect to your complaint
                                or enquiry will be made to you.
                            </p>
                            <h3>Personal Data Statement</h3>
                            <p style="margin-left: 5px; margin-bottom: 20px;">
                                I have read and acknowledge the above "Notes about Personal Data".
                            </p>
                            <fieldset>
                                <p style="margin-left: 5px; margin-bottom: 50px;">
                                    I &nbsp; 
                                    <input type="radio" name="type" id="type1">
                                    <label for="type1">&nbsp;agree</label>&nbsp;/&nbsp;
                                    <input type="radio" name="type" id="type2">
                                    <label for="type2">&nbsp;disagree</label>
                                    to refer my personal contact to other relevant organizations, 
                                    agents, contractors or consultants for follow-up 
                                    of this case and direct reply to me.
                                </p>
                            </fieldset>
                            <div class="form-group">
                                {{ form.name_desc.label(class="pers") }}
                                {{ form.name_desc(style="width: 360px", size="50") }}
                                
                            </div>
                            <div class="form-group">
                                {{ form.mobile_no.label(class="pers") }}
                                {{ form.mobile_no(style="width: 360px", size="50") }}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="pers") }}
                                {{ form.email(style="width: 360px", size="50") }}
                            </div>
                            
                            <div class="form-group">
                                {{ form.date.label(class="pers") }}
                                {{ form.date(style="width: 360px", size="50") }}
                            </div></br></br>
                    </aside>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}