{% extends "layout.html" %}
{% block content %}    
    <div class="container_1"> 
        <div class="row blog_details_inner" style="margin-left: 10%;">
            <div class="row" style="display: inline-flex; margin-bottom: 30px;">
                <div class="img_disp" id="try">
                <img src="{{ url_for('static', filename='img/pre-cons-left.jpg') }}" alt="pre-cons-left" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <a href="">Profile</a>
                    </div>
                </div>
                </div>
                <div class="img_disp" id="try" >
                <img src="{{ url_for('static', filename='img/pre-cons-right.jpg') }}" alt="pre-cons-right" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <a href="">Profile</a>
                    </div>
                </div>
                </div>        
                <div class="img_disp" id="try" >
                <img src="{{ url_for('static', filename='img/pre-cons-left.jpg') }}" alt="pre-cons-left" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <a href="">Profile</a>
                    </div>
                </div>
                </div>        
                <div class="img_disp" id="try" >
                <img src="{{ url_for('static', filename='img/pre-cons-left.jpg') }}" alt="pre-cons-left" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <a href="">Profile</a>
                    </div>
                </div>
                </div>        
            </div>
    </div>
{% endblock content %} 