{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row blog_details_inner" id="leave">
      <table id="mytable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gd</td>
                <td>ad</td>
                <td>ad</td>
                <td>asd</td>
                <td>asd</td>
                <td>asdaw</td>
            </tr>
            <tr>
                <td>kols</td>
                <td>lokki</td>
                <td>louhs</td>
                <td>Pryhjs</td>
                <td>;poukjms</td>
                <td>98iuj</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
{% endblock  %}