{% extends "layout.html" %}
{% block content %}
<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 2%;">
        <h3 id="table_h3" style="margin-top: 3%;">UPGRADING</h3>
        <table id="mytable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>NAME OF CONTRACT</th>
                    <th>LENGTH (KM)</th>
                    <th>LOT</th>
                    <th>CONTRACT SUM (GHS)</th>
                    <th>CONTRACTOR</th>
                    <th>DATE OF COMMENCE</th>
                    <th>DATE OF COMPLETION</th>
                </tr>
            </thead>
            <tbody>
                {% for upgrading in upgrade_list %}
                    <tr>
                        <td>{{ upgrading.name_of_contract }}</td>
                        <td>{{ upgrading.length }}</td>
                        <td>{{ upgrading.lot }}</td>
                        <td>{{ upgrading.contract_sum }}</td>
                        <td>{{ upgrading.contractor }}</td>
                        <td>{{ upgrading.date_commenced }}</td>
                        <td>{{ upgrading.date_completed}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %} 