{% extends "includes/layout.html" %}
{% block content %}
<div class="container"> 
    <div class="row blog_details_inner" style="margin-left: 2%;">
        <h3 id="table_h3" style="margin-top: 3%;">PERIODIC PROJECTS COMPLETED</h3>
        <div class="col-md-8" id="periodic">
            <div class="col-sm-4">
                <table>
                    <tbody>
                        <tr>
                            <td><a href="{{ url_for('projects.rehabilitation') }}">Rehabilitation</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Resealing</a></td>
                        </tr>
                        <tr>
                            <td><a href="{{ url_for('projects.upgrading') }}">Upgrading</a></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            <div class="col-sm-4">
                <table>
                    <tbody>
                        <tr>
                            <td><a href="{{ url_for('projects.regravelling') }}">Regravelling</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Pre-Construction</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Alsphaltic Overlay</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tbody>
                        <tr>
                            <td><a href="{{ url_for('projects.construction') }}">Construction</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Resurfacing</a></td>
                        </tr>
                        <tr>
                            <td><a href="">Repairs &#38; Alsphaltic</a></td> 
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        {% include 'includes/sidebar.html' %}
    </div>
</div>
{% endblock content %} 