{% extends "includes/layout.html" %}
{% block content %}

    <style>

        .team_name {
            text-align: center;
            margin: 0; 
            padding: 10px; 
            box-shadow: 0 0 5px 5px rgb(153, 147, 147); 
            background: #fff; 
            margin-bottom: 30px;
            width: 263px;
            height: 100px;
        }

        .team_name h4 {
            padding-bottom: 5px;
        }

        #leader {
           flex-wrap: wrap;
        }
    
    </style> 

    <div class="container">  
        <div class="row blog_details_inner" style="margin-left: 2%;">
            <h3 class="table_h3" id="table_h3">LEADERSHIP</h3>
            <div class="leadership" id="leader">
                <div class="img_disp" id="try">
                    <!-- <img src="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" alt="pre-cons-left" class="image_file"> -->
                    <img src="static/img/leaders/Dr. Frank Mawuyome kwame Gamadey.jpg" alt="pre-cons-left" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="static/img/leaders/Dr. Frank Mawuyome kwame Gamadey profile.jpg"
                            data-lightbox="profile" data-title="Pic-1" data-alt="Pic-1.jpg">
                            Profile
                        </a>
                    </div>  
                </div>
                <div class="team_name">
                    <h4>Dr. FRANK MAWUYOME KWAME GAMADEY</h4>
                    <span>Director Audit</span>
                </div>
                </div>
                <div class="img_disp" id="try" >
                    <!-- <img src="{{ url_for('static', filename='img/leaders/video-1.jpg') }}" alt="pre-cons-right" class="image_file"> -->
                    <img src="static/img/leaders/Maama Markwei Sawyerr.jpg" alt="pre-cons-right" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/video-1.jpg') }}"  -->
                        <a href="static/img/leaders/Maama Markwei profile.jpg" 
                            data-lightbox="profile" data-title="Pic-2" data-alt="Pic-2.jpg">
                            Profile
                        </a>
                    </div> 
                </div>
                <div class="team_name">
                    <h4>SAWYERR MAAMA-MARKWEI</h4>
                    <span>Chief Executive Officer</span>
                </div>
                </div>        
                <div class="img_disp" id="try" >
                    <!-- <img src="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" alt="pre-cons-left" class="image_file"> -->
                    <img src="static/img/leaders/Lawrence Lloyd Lankwei.jpg" alt="pre-cons-left" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="static/img/leaders/LAWRENCE LLOYD LANKWEI LAMPTEY profile.jpg"
                            data-lightbox="profile" data-title="Pic-3" data-alt="Pic-3.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>LAWRENCE LLOYD LANKWEI LAMPTEY</h4>
                    <span>Ag. Dy. Chief Executive (Mtce)</span>
                </div>
                </div>        
                <div class="img_disp" id="try" >
                    <!-- <img src="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" alt="pre-cons-left" class="image_file"> -->
                    <img src="static/img/leaders/Seth Adjemang Baah.jpg" alt="pre-cons-left" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="static/img/leaders/SETH ADJEMANG BAAH profile.jpg"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>SETH ADJEMANG BAAH</h4>
                    <span>Ag. Rg. Highway Director Bono East Region</span>
                </div>
                </div>        
                <div class="img_disp" id="try" >
                    <!-- <img src="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" alt="pre-cons-left" class="image_file"> -->
                    <img src="static/img/leaders/Foster Ekuede.jpg" alt="pre-cons-left" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="static/img/leaders/Foster Ekuede Lelekele profile.jpg"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>FOSTER EKUEDE LELEKELE</h4>
                    <span>Ag. Director, MIS</span>
                </div>
                </div>        
                <div class="img_disp" id="try" >
                    <!-- <img src="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" alt="pre-cons-left" class="image_file"> -->
                    <img src="static/img/leaders/Gordon Amarkwei.jpg" alt="pre-cons-left" class="image_file">
                <div class="overlay">
                    <div id="pro">
                        <!-- <a href="{{ url_for('static', filename='img/leaders/pre-cons-left.jpg') }}" -->
                        <a href="static/img/leaders/Gordon Amarkwei Amartey profile.jpg"
                            data-lightbox="profile" data-title="Pic-4" data-alt="Pic-4.jpg">
                            Profile
                        </a>
                    </div>
                </div>
                <div class="team_name">
                    <h4>GORDON AMARKWEI AMARTEY</h4>
                    <span>Director, Survey Design</span>
                </div>
                </div>        
            </div>
        </div>
    </div>
{% endblock content %} 