{% extends "includes/layout.html" %}
{% block content %}

<style>
    table {
        font-family: "Montserrat", sans-serif;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 1px;
        line-height: 20px;
    }

    th {
        border: 1px solid #dddddd;
        border-collapse: collapse;
        text-align: left;
        padding: 8px;
        line-height: 20px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    /* table tr td a {
        color: #ffcd00;
    } */
</style>
<div class="container">
    <div class="row blog_details_inner" style="margin-top: 30px; margin-left: 2%;">
        <div class="col-md-8" id="tbl_h3" style="margin-top: -2%;">
            <h3 id="table_h3">Regional Directors</h3>

            <div style="overflow-x:auto;">
                <table>
                    <tr>
                        <th>NO.</th>
                        <th>NAME</th>
                        <th>STATION</th>
                        <th>EMAIL</th>
                    </tr>
                    <!-- <tr>
                    <td>1</td>
                    <td>CHARLES ADUBOFOUR</td>
                    <td>EASTERN</td>
                    <td><a href="mailto:charles.adubofour@highways.gov.gh">charles.adubofour@highways.gov.gh</a></td>
                </tr> -->
                    <tr>
                        <td>1</td>
                        <td>David Sitsope Addo</td>
                        <td>WESTERN</td>
                        <td><a href="mailto:#"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ERNEST OSEI BONSU</td>
                        <td>WESTERN NORTH</td>
                        <td><a href="mailto:bonsu.ernest@highways.gov.gh">bonsu.ernest@highways.gov.gh</a> </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Noel Antwi</td>
                        <td>UPPER EAST</td>
                        <td><a href="mailto:#"></a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Benjamin Atta</td>
                        <td>UPPER WEST</td>
                        <td><a href="mailto:benjamin.attah@highways.gov.gh">benjamin.attah@highways.gov.gh</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>SETH ADJEMANG-BAAH</td>
                        <td>BONO EAST</td>
                        <td><a href="mailto:seth.adjemang-baah@highways.gov.gh">seth.adjemang-baah@highways.gov.gh</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>MARK OKYERE</td>
                        <td>ASHANTI</td>
                        <td><a href="mailto:mark.okyere@highways.gov.gh">mark.okyere@highways.gov.gh</a></t>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>PATRICK OKOTO </td>
                        <td>EASTERN</td>
                        <td><a href="mailto:patrick.okoto@highways.gov.gh">patrick.okoto@highways.gov.gh</a></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>HAROLD ATOBRA</td>
                        <td>BONO</td>
                        <td><a href="mailto:harold.acheampong@highways.gov.gh">harold.acheampong@highways.gov.gh</a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Dzefi Sefiamor</td>
                        <td>SAVANNAH</td>
                        <td><a href="mailto:sefiamor.dzefi@highways.gov.gh">sefiamor.dzefi@highways.gov.gh</a></td>
                    </tr>
                    <tr>
                    <td>10</td>
                    <td>Richard  Kudjawu</td>
                    <td>OTI</td>
                    <td><a href="mailto:richard.kudjawu@highways.gov.gh">richard.kudjawu@highways.gov.gh</a></td>
                </tr>
                    <tr>
                        <td>10</td>
                        <td>SALISU MOHAMMED MAHAMAH </td>
                        <td>AHAFO</td>
                        <td><a href="mailto:salisu.mahamah@highways.gov.gh">salisu.mahamah@highways.gov.gh</a></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>MERCY A. PAYNE</td>
                        <td>CENTRAL</td>
                        <td><a href="mailto:mercy.payne@highways.gov.gh">mercy.payne@highways.gov.gh</a></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>VICTOR TETEY ANNAN</td>
                        <td>NORTHERN</td>
                        <td><a
                                href="mailto:victor.annan@highways.gov.gh@highways.gov.gh">victor.annan@highways.gov.gh@highways.gov.gh</a>
                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>ANDREW YAW OKERE</td>
                        <td>NORTH EAST</td>
                        <td><a href="mailto:andrew.okere@highways.gov.gh">andrew.okere@highways.gov.gh</a></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>EMMANUEL LARYEA ODAI</td>
                        <td>ACCRA NORTH</td>
                        <td><a href="mailto:emmanuel.laryea@highways.gov.gh">emmanuel.laryea@highways.gov.gh</a></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Aminu Issaka  Abubakar</td>
                        <td>VOLTA</td>
                        <td><a href="mailto:#"></a></td>
                    </tr>

                </table>
            </div>
        </div>
        {% include 'includes/sidebar.html' %}
    </div>
</div>
{% endblock content %}